@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

.scroll-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-container section {
  scroll-snap-align: start;
  height: 100vh;
  background-color: #D2D2D2;
}

.scroll-container section:nth-child(2n) {
  background-color: #0D1117;
  color: #D2D2D2;
}

.hide {
  display: none;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

ul {
  list-style: none;
}

hr {
  border: 1px solid #2f353d;
  margin: 1rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: calc(min(1600px, 90%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: none;
}

textarea,
input {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  border: 2px solid #0D1117;
  -webkit-transition: 300ms;
  transition: 300ms;
}

textarea {
  border-radius: 30px;
}

.wrong {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.rect {
  background-color: #39D353;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

.rect[data-value='1'], .rect[data-value='2'] {
  background-color: #0E4429;
}

.rect[data-value='3'], .rect[data-value='4'] {
  background-color: #006D32;
}

.rect[data-value='5'], .rect[data-value='6'] {
  background-color: #26A641;
}

.btn-accent {
  background-color: #0D1117;
  color: #FF4C29;
}

.btn-accent:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

.btn-white {
  background-color: #D2D2D2;
  color: #0D1117;
}

.btn-white:hover {
  color: #D2D2D2;
  background-color: #FF4C29;
}

.btn-dark {
  background-color: #0D1117;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

.btn-dark:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

#navbar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}

#navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#navbar .menu a {
  margin-top: 10px;
  text-decoration: none;
  color: #D2D2D2;
  color: #0D1117;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.5rem;
}

#navbar .menu a:hover {
  border-bottom: #D2D2D2 1px solid;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero img {
  width: calc(min(100px, 15vw));
}

.hero .name {
  padding: 5rem 0;
  font-size: clamp(4rem, 10vw, 12rem);
  line-height: clamp(3.1rem, 8vw, 10rem);
  color: #0D1117;
  text-align: start;
  font-weight: bold;
}

.hero .name span {
  color: #FF4C29;
}

.hero .name p {
  color: #FF4C29;
  font-size: clamp(1.8rem, 3vw, 4rem);
  line-height: 2.4rem;
  width: 100%;
  text-align: end;
  font-weight: 100;
}

.hero .name .menu {
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  max-width: 500px;
}

.hero .name .menu a {
  margin-top: 10px;
  border-bottom: #082032 1px solid;
  text-decoration: none;
  color: #0D1117;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero .name .menu a:hover {
  color: #FF4C29;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero .bottom-line {
  color: #0D1117;
  font-size: 1rem;
  font-weight: bold;
  border-top: 2px solid #0D1117;
  border-bottom: 2px solid #0D1117;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero .bottom-line p {
  text-align: center;
}

.hero .bottom-line span {
  font-weight: 100;
  margin: 0 1rem;
}

.about {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
  position: relative;
}

.about #read-more-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3rem 5rem;
  border-radius: 5vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 20s linear;
  transition: 20s linear;
}

.about #read-more-modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about #read-more-modal #about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

.about .box div .icons {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.about .box div .icons p {
  padding: 1rem 2rem;
  background-color: #0D1117;
  text-align: center;
  font-weight: bold;
  border-radius: 100vw;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

.snake-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.snake-container .snake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snake-container .snake h1 {
  font-size: 3rem;
  margin: 1rem;
}

.snake-container .snake .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.snake-container .snake #contribution-wrapper {
  background-color: #0D1117;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
}

.snake-container .snake #contribution-wrapper #game-over {
  position: absolute;
  inset: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3888;
  display: none;
  color: #D2D2D2;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

.snake-container .snake #contribution-wrapper #game-over.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.snake-container .snake #contribution-wrapper .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FF4C29;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 1rem auto;
  display: none;
}

.snake-container .snake #contribution-wrapper .loader.show {
  display: block;
}

.snake-container .snake #contribution-wrapper #game-board {
  border-radius: .5vw;
  padding: .2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[53];
      grid-template-columns: repeat(53, 1fr);
}

.snake-container .snake #contribution-wrapper #game-board div {
  aspect-ratio: 1/1;
  width: 100%;
}

.snake-container .snake #contribution-wrapper #game-board .snake {
  background-color: #FF4C29;
  border-radius: 20%;
  border: solid 1px #0D1117;
  z-index: 2;
}

.snake-container .snake #contribution-wrapper #game-board .food {
  border: solid 1px #0D1117;
  border-radius: 20%;
  background-color: #26A641;
}

.snake-container .bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5rem;
}

.snake-container .bottom h1 {
  color: #FF4C29;
  font-size: 2rem;
}

.snake-container .bottom .top5 {
  font-weight: bold;
}

.snake-container .bottom ul li {
  font-size: 1.5rem;
}

.snake-container h3 {
  text-align: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

#projects {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#projects .wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: (minmax(300px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 5rem 0;
}

#projects .wrapper .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#projects .wrapper .project.masta {
  background-image: url(images/masta/e-commerce-hero.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#projects .wrapper .project.masta::after {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  content: 'Masta';
  font-size: 8rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

#projects .wrapper .project.masta:hover::after {
  opacity: 0;
}

#projects .wrapper .project.masta .project-modal {
  display: none;
}

#projects .wrapper .project.masta.show .project-modal {
  position: absolute;
  background-color: #0D1117;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 8000;
}

#projects .wrapper .project.masta.show .project-modal .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 3rem;
}

#projects .wrapper .project.masta.show .project-modal .head .title {
  font-size: 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .wrapper .project.masta.show .project-modal .head p {
  -webkit-transition: 200ms;
  transition: 200ms;
}

#projects .wrapper .project.masta.show .project-modal .head p a {
  font-size: 1.5rem;
  color: #FF4C29;
  line-height: 2px;
  text-decoration: none;
}

#projects .wrapper .project.masta.show .project-modal .head p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#projects .wrapper .project.masta.show .project-modal .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 3rem 0;
  gap: 3rem;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-1 .mobile {
  text-align: center;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-1 .mobile .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 1rem;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-1 .mobile .screens img {
  height: 300px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-2 img {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  margin: 1rem 0;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

#projects .wrapper .project.masta.show .project-modal .body .panel-3 .screens {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#projects .wrapper .project.masta.show .project-modal .body .panel-3 .screens img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#projects .wrapper .project.swift {
  background-image: url(images/swift/hero2.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#projects .wrapper .project.swift::after {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  content: 'Swiftqueue';
  font-size: 8rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

#projects .wrapper .project.swift:hover::after {
  opacity: 0;
}

.contact {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.contact .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.contact .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .box h1 {
  font-size: 2rem;
  color: #FF4C29;
}

.contact .box form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .box form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .box form div input {
  width: 100%;
}

@media (max-width: 768px) {
  input,
  .btn {
    padding: .5rem 1.5rem;
    margin: .5rem;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes bounce {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */