@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

$dark-color: #0D1117;
$main-color: #2C394B;
$light-color: #334756;
$grey-color: #D2D2D2;
$accent-color: #FF4C29;
$green-4: #39D353;
$green-3: #26A641;
$green-2: #006D32;
$green-1: #0E4429;
$green-00: #161B22;

section {
  height: 100vh;
  background-color: $grey-color;

  &:nth-child(2n) {
    background-color: $dark-color;
    color: #D2D2D2;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: calc(min(1600px, 90%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  transition: 300ms;
}

input {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  transition: 300ms;

}

.wrong {
  animation: shake 0.5s;
}

.rect {
  background-color: $green-4;
  border-radius: 20%;
  border: solid 1px $dark-color;

  &[data-value='1'],
  &[data-value='2'] {
    background-color: $green-1;
  }

  &[data-value='3'],
  &[data-value='4'] {
    background-color: $green-2;
  }

  &[data-value='5'],
  &[data-value='6'] {
    background-color: $green-3;
  }
}

.btn-accent {
  background-color: $dark-color;
  color: $accent-color;

  &:hover {
    background-color: $accent-color;
    color: $grey-color;
  }
}

.btn-dark {
  background-color: $dark-color;
  color: $grey-color;
}

.hero {
  display: flex;
  flex-direction: column;

  .logo {
    width: 100px;
    height: 100px;
    background-color: $dark-color;
    color: #D2D2D2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    line-height: 2.6rem;
    font-weight: bold;
  }

  .name {
    padding: 5rem 0;
    font-size: 10rem;
    line-height: 9rem;
    color: $dark-color;
    text-align: start;

    p {
      font-size: 3rem;
      line-height: 2rem;
      width: 100%;
      text-align: end;
      font-weight: 100;
    }

    .menu {
      font-size: 2rem;
      font-weight: 100;
      display: flex;
      flex-direction: column;
      line-height: 1;
      width: 400px;

      a {
        margin-top: 10px;
        border-bottom: #082032 1px solid;
        text-decoration: none;
        color: $dark-color;
        transition: .2s;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  .bottom-line {
    color: $main-color;
    font-size: 1rem;
    font-weight: bold;
    border-top: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    display: flex;
    justify-content: space-around;

    span {
      font-weight: 100;
      margin: 0 1rem;
    }
  }
}

.snake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #contribution-wrapper {
    background-color: $dark-color;
    width: 100%;
    padding: 1rem;
    border-radius: 1vw;

    .loader {
      border: 8px solid #f3f3f3;
      border-top: 8px solid $accent-color;
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      animation: spin 1s linear infinite;
      margin: 1rem auto;
      display: none;

      &.show {
        display: block;
      }

    }


    #game-board {
      border-radius: .5vw;
      padding: .2vw;
      display: grid;
      grid-template-rows: repeat(7, 1fr);
      grid-template-columns: repeat(53, 1fr);

      div {
        aspect-ratio: 1/1;
        width: 100%;
      }

      .snake {
        background-color: $accent-color;
        border-radius: 20%;
        border: solid 1px $dark-color;
        z-index: 2;
      }

      .food {
        border: solid 1px $dark-color;
        border-radius: 20%;
        background-color: $green-3;
      }
    }
  }
}

@media (max-width: 768px) {

  input,
  .btn {
    padding: .5rem 1.5rem;
    margin: .5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}