@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.7);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  position: relative;
}

.background {
  position: fixed;
  background-color: #0D1117;
  width: 100%;
  height: 100%;
}

.background .words {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Lobster', cursive;
  color: #0D1117;
  color: red;
}

.background .words :nth-child(1) {
  position: absolute;
  top: 60%;
  left: 75%;
  font-size: 7vh;
}

.background .words :nth-child(2) {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 3vh;
}

#blur {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
}

#blob {
  position: fixed;
  width: 200px;
  aspect-ratio: 1;
  background: linear-gradient(153deg, white 0%, #ff4c29 100%);
  border-radius: 50%;
  translate: -50% -50%;
  -webkit-animation: blob 10s linear infinite;
          animation: blob 10s linear infinite;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.d-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.grid-place-center {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-light {
  background-color: #D2D2D2;
  color: #0D1117;
}

hr {
  border: 1px solid #2f353d;
  margin: 2rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: calc(min(1200px, 98%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: none;
}

.copy-btn {
  padding: 1rem;
  margin: 0;
}

textarea,
input {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100vw;
  border: 2px solid #0D1117;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: 1rem;
}

textarea {
  border-radius: 30px;
  width: 100%;
}

.text-title {
  font-size: 5rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
  width: 100%;
}

.text-start {
  text-align: left;
}

.wrong {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.rect {
  background-color: #39D353;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

.rect[data-value='1'], .rect[data-value='2'] {
  background-color: #0E4429;
}

.rect[data-value='3'], .rect[data-value='4'] {
  background-color: #006D32;
}

.rect[data-value='5'], .rect[data-value='6'] {
  background-color: #26A641;
}

.btn-accent {
  background-color: #0D1117;
  color: #FF4C29;
}

.btn-accent:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

.btn-white {
  background-color: #D2D2D2;
  color: #0D1117;
}

.btn-white:hover {
  color: #D2D2D2;
  background-color: #FF4C29;
}

.btn-dark {
  background-color: #0D1117;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

.btn-dark:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

header {
  height: 100vh;
  height: 100svh;
  position: relative;
}

header .logo {
  position: fixed;
  left: 1rem;
  line-height: .9;
  color: #D2D2D2;
  margin-top: 1rem;
}

header .logo span {
  color: #FF4C29;
}

header .logo .front-end-developer {
  opacity: 0;
}

header .wrapper .stack {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem;
}

header .wrapper #menu-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(400px, 90%));
  gap: 0;
}

header .wrapper #menu-bottom a {
  font-size: 3rem;
  border-bottom: 1px solid #D2D2D2;
  margin-top: 1rem;
  font-weight: 100;
  line-height: 3rem;
}

header .wrapper #menu-bottom a:hover {
  color: #FF4C29;
  -webkit-transform: scale(1.1) translate(5%, 0%);
          transform: scale(1.1) translate(5%, 0%);
}

#projects .snake-container {
  height: 100vh;
  padding: 5rem 0;
}

#projects .snake-container .snake {
  margin: auto 0;
  gap: 1rem;
}

#projects .snake-container .snake a {
  color: #FF4C29;
}

#projects .snake-container .snake .settings {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .snake-container .snake .settings input {
  margin: 0;
}

#projects .snake-container .snake #contribution-wrapper {
  background-color: #0D1117;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
}

#projects .snake-container .snake #contribution-wrapper #game-over {
  position: absolute;
  inset: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  color: #D2D2D2;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

#projects .snake-container .snake #contribution-wrapper #game-over.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects .snake-container .snake #contribution-wrapper .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FF4C29;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 1rem auto;
  display: none;
}

#projects .snake-container .snake #contribution-wrapper .loader.show {
  display: block;
}

#projects .snake-container .snake #contribution-wrapper #game-board {
  border-radius: .5vw;
  padding: .2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[53];
      grid-template-columns: repeat(53, 1fr);
}

#projects .snake-container .snake #contribution-wrapper #game-board div {
  aspect-ratio: 1/1;
  width: 100%;
}

#projects .snake-container .snake #contribution-wrapper #game-board .snake {
  background-color: #FF4C29;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

#projects .snake-container .snake #contribution-wrapper #game-board .food {
  border: solid 1px #0D1117;
  border-radius: 20%;
  background-color: #26A641;
}

#about table {
  margin: 1rem;
}

#about table td {
  padding-left: 3rem;
}

#footer .margin-auto {
  margin: 0 auto;
}

@-webkit-keyframes blob {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 2 2.5;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes blob {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 2 2.5;
  }
  to {
    rotate: 360deg;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */