@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

section {
  min-height: 100vh;
  background-color: #D2D2D2;
}

body {
  position: relative;
  overflow-x: hidden;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.d-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.grid-place-center {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: #0D1117;
  color: #D2D2D2;
}

.bg-light {
  background-color: #D2D2D2;
  color: #0D1117;
}

hr {
  border: 1px solid #2f353d;
  margin: 2rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: calc(min(1600px, 95%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: none;
}

.copy-btn {
  padding: 1rem;
  margin: 0;
}

textarea,
input {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100vw;
  border: 2px solid #0D1117;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: 1rem;
}

textarea {
  border-radius: 30px;
}

.text-title {
  font-size: 5rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
  width: 100%;
}

.wrong {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.rect {
  background-color: #39D353;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

.rect[data-value='1'], .rect[data-value='2'] {
  background-color: #0E4429;
}

.rect[data-value='3'], .rect[data-value='4'] {
  background-color: #006D32;
}

.rect[data-value='5'], .rect[data-value='6'] {
  background-color: #26A641;
}

.btn-accent {
  background-color: #0D1117;
  color: #FF4C29;
}

.btn-accent:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

.btn-white {
  background-color: #D2D2D2;
  color: #0D1117;
}

.btn-white:hover {
  color: #D2D2D2;
  background-color: #FF4C29;
}

.btn-dark {
  background-color: #0D1117;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

.btn-dark:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.menu a {
  color: #D2D2D2;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.5rem;
}

.menu a:hover {
  border-bottom: #D2D2D2 1px solid;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 10vh;
}

#navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .logo {
  line-height: .9;
  color: #D2D2D2;
  padding: 1rem 0;
}

#navbar .container .logo span {
  color: #FF4C29;
}

#navbar .container p {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
}

#hero .wrapper .stack {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem;
}

#hero .wrapper .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(400px, 90%));
  gap: 0;
}

#hero .wrapper .menu a {
  font-size: 3rem;
  border-bottom: 1px solid #D2D2D2;
  margin-top: 1rem;
  font-weight: 100;
  line-height: 3rem;
}

#hero .wrapper .menu a:hover {
  color: #FF4C29;
  -webkit-transform: scale(1.1) translate(5%, 0%);
          transform: scale(1.1) translate(5%, 0%);
}

#projects .snake-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 5rem 0;
}

#projects .snake-container .snake {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#projects .snake-container .snake a {
  color: #FF4C29;
}

#projects .snake-container .snake .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .snake-container .snake .settings input {
  margin: 0;
}

#projects .snake-container .snake #contribution-wrapper {
  background-color: #0D1117;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
}

#projects .snake-container .snake #contribution-wrapper #game-over {
  position: absolute;
  inset: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  color: #D2D2D2;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

#projects .snake-container .snake #contribution-wrapper #game-over.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects .snake-container .snake #contribution-wrapper .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FF4C29;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 1rem auto;
  display: none;
}

#projects .snake-container .snake #contribution-wrapper .loader.show {
  display: block;
}

#projects .snake-container .snake #contribution-wrapper #game-board {
  border-radius: .5vw;
  padding: .2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[53];
      grid-template-columns: repeat(53, 1fr);
}

#projects .snake-container .snake #contribution-wrapper #game-board div {
  aspect-ratio: 1/1;
  width: 100%;
}

#projects .snake-container .snake #contribution-wrapper #game-board .snake {
  background-color: #FF4C29;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

#projects .snake-container .snake #contribution-wrapper #game-board .food {
  border: solid 1px #0D1117;
  border-radius: 20%;
  background-color: #26A641;
}

#projects #more-projects-wrapper {
  position: relative;
}

#projects #more-projects-wrapper #more-projects-text {
  color: #0D1117;
}

#projects #more-projects-wrapper #dot {
  color: #D2D2D2;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: #0D1117;
  margin-top: auto;
}

#projects #more-projects-wrapper #dot .project-card {
  text-align: start;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: scale .3s;
  transition: scale .3s;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

#projects #more-projects-wrapper #dot .project-card .project-description {
  padding: 1rem 2rem;
}

#projects #more-projects-wrapper #dot .project-card .project-description .buttons {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

#projects #more-projects-wrapper #dot .project-card .project-image-wrapper {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 300px;
}

#projects #more-projects-wrapper #dot .project-card .project-image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-box-shadow: inset 200px 20px 100px -50px #0D1117;
          box-shadow: inset 200px 20px 100px -50px #0D1117;
  z-index: 2;
}

#projects #more-projects-wrapper #dot .project-card:hover {
  scale: 1.05;
}

#projects #more-projects-wrapper #dot .project-card:hover .buttons {
  opacity: 1;
}

.about {
  text-align: center;
}

.about .box #About-me {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .box #About-me .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .box #About-me .buttons a {
  display: block;
}

.about .box .skills {
  width: 100%;
}

.about .box .skills .icons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .box .skills .icons p {
  padding: 1rem 2rem;
  background-color: #0D1117;
  margin: 1rem;
  width: calc(max(150px, 10vw));
  text-align: center;
  font-weight: bold;
  border-radius: 100vw;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

#contact {
  position: relative;
}

#contact .wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
}

#contact .wrapper .boxes {
  width: 100%;
}

#contact .wrapper .boxes .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .wrapper .boxes .box h1 {
  font-size: 3rem;
}

#contact .wrapper .boxes .box form {
  width: calc(min(800px, 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .wrapper .boxes .box form .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .wrapper .boxes .box form .bottom input {
  width: 100%;
  margin-right: 1rem;
  margin-top: 0;
}

#contact .footer {
  background-color: #0D1117;
  color: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#contact .footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
  text-align: start;
}

#contact .footer .container .name {
  line-height: .9;
}

#contact .footer .container .name span {
  color: #FF4C29;
}

@media (max-width: 910px) {
  #contact .boxes .box form .bottom {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #contact .boxes .box form .bottom input {
    margin-right: 0 !important;
    margin-top: 1rem !important;
  }
}

@media (max-width: 960px) {
  #navbar .container .menu {
    display: none;
  }
  #arrow-down,
  #arrow {
    display: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=style.css.map */