@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

.scroll-container {
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-container section {
  scroll-snap-align: start;
  height: 100vh;
  background-color: #D2D2D2;
}

.scroll-container section:nth-child(2n) {
  background-color: #0D1117;
  color: #D2D2D2;
}

body {
  position: relative;
}

.hide {
  display: none !important;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid #2f353d;
  margin: 1rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: calc(min(1600px, 95%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: none;
}

.copy-btn {
  padding: 1rem;
  margin: 0;
}

textarea,
input {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100vw;
  border: 2px solid #0D1117;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: 1rem;
}

textarea {
  border-radius: 30px;
}

.wrong {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.rect {
  background-color: #39D353;
  border-radius: 20%;
  border: solid 1px #0D1117;
}

.rect[data-value='1'], .rect[data-value='2'] {
  background-color: #0E4429;
}

.rect[data-value='3'], .rect[data-value='4'] {
  background-color: #006D32;
}

.rect[data-value='5'], .rect[data-value='6'] {
  background-color: #26A641;
}

.btn-accent {
  background-color: #0D1117;
  color: #FF4C29;
}

.btn-accent:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

.btn-white {
  background-color: #D2D2D2;
  color: #0D1117;
}

.btn-white:hover {
  color: #D2D2D2;
  background-color: #FF4C29;
}

.btn-dark {
  background-color: #0D1117;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

.btn-dark:hover {
  background-color: #FF4C29;
  color: #D2D2D2;
}

#navbar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}

#navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#navbar .menu a {
  margin-top: 10px;
  text-decoration: none;
  color: #D2D2D2;
  color: #0D1117;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.5rem;
}

#navbar .menu a:hover {
  border-bottom: #D2D2D2 1px solid;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero img {
  width: 100px;
}

.hero .name {
  font-size: clamp(3.6rem, 10vw, 12rem);
  line-height: clamp(3rem, 8vw, 10rem);
  color: #0D1117;
  text-align: start;
  font-weight: bold;
}

.hero .name span {
  color: #FF4C29;
}

.hero .name p {
  color: #FF4C29;
  font-size: clamp(1.8rem, 3vw, 4rem);
  line-height: 2.4rem;
  width: 100%;
  text-align: end;
  font-weight: 100;
}

.hero .name .menu {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  width: calc(min(500px, 80%));
  margin-top: 2rem;
}

.hero .name .menu a {
  margin-top: 10px;
  border-bottom: #082032 1px solid;
  text-decoration: none;
  color: #0D1117;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero .name .menu a:hover {
  color: #FF4C29;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero .bottom-line {
  color: #0D1117;
  font-size: 1rem;
  font-weight: bold;
  border-top: 2px solid #0D1117;
  border-bottom: 2px solid #0D1117;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 3rem;
}

.hero .bottom-line .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-animation: scroll-horizontal 50s linear infinite;
          animation: scroll-horizontal 50s linear infinite;
}

.hero .bottom-line .text p {
  margin: 0 2rem;
}

.about {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.about .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.about .box #About-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.about .box #About-me .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .box #About-me .buttons a {
  display: block;
}

.about .box .skills {
  width: 100%;
}

.about .box .skills .icons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .box .skills .icons p {
  padding: 1rem 2rem;
  background-color: #0D1117;
  margin: 1rem;
  width: calc(max(150px, 10vw));
  text-align: center;
  font-weight: bold;
  border-radius: 100vw;
  color: #FF4C29;
  border: 2px solid #FF4C29;
}

#read-more-modal #body .focus a {
  cursor: pointer;
  height: 1rem;
  color: #FF4C29;
}

#read-more-modal #body .focus a:hover {
  text-decoration: underline;
}

#read-more-modal #body .me ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#read-more-modal #body .me ul li {
  width: calc(min(400px, 100%));
  margin: 1rem;
}

#read-more-modal #body .me h1 {
  color: #FF4C29;
}

.snake-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.snake-container .snake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snake-container .snake h1 {
  font-size: 3rem;
  margin: 1rem;
}

.snake-container .snake .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.snake-container .snake .settings input {
  margin: 0;
}

.snake-container .snake #contribution-wrapper {
  background-color: #0D1117;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
}

.snake-container .snake #contribution-wrapper #game-over {
  position: absolute;
  inset: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3888;
  display: none;
  color: #D2D2D2;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

.snake-container .snake #contribution-wrapper #game-over.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.snake-container .snake #contribution-wrapper .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FF4C29;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 1rem auto;
  display: none;
}

.snake-container .snake #contribution-wrapper .loader.show {
  display: block;
}

.snake-container .snake #contribution-wrapper #game-board {
  border-radius: .5vw;
  padding: .2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[53];
      grid-template-columns: repeat(53, 1fr);
}

.snake-container .snake #contribution-wrapper #game-board div {
  aspect-ratio: 1/1;
  width: 100%;
}

.snake-container .snake #contribution-wrapper #game-board .snake {
  background-color: #FF4C29;
  border-radius: 20%;
  border: solid 1px #0D1117;
  z-index: 2;
}

.snake-container .snake #contribution-wrapper #game-board .food {
  border: solid 1px #0D1117;
  border-radius: 20%;
  background-color: #26A641;
}

.snake-container .bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5rem;
}

.snake-container .bottom h1 {
  color: #FF4C29;
  font-size: 2rem;
}

.snake-container .bottom .top5 {
  font-weight: bold;
}

.snake-container .bottom ul li {
  font-size: 1.5rem;
}

.snake-container h3 {
  text-align: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

#masta .body input {
  width: calc(max(30vw, 200px));
  margin: 0 1rem 0 0;
}

#masta .body .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

#masta .body .login button {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
}

#masta .body .panel-1 .mobile .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 1rem;
}

#masta .body .panel-1 .mobile .screens img {
  height: 300px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#masta .body .panel-2 .arrow {
  width: 20%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#masta .body .panel-2 #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#masta .body .panel-2 #right #arrow-down {
  width: 10%;
  position: absolute;
  top: 45%;
  left: 75%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#masta .body .panel-2 #right .paypal {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#masta .body .panel-3 .admin {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#swift .body .panel-2 .mobile .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 1rem;
}

#swift .body .panel-2 .mobile .screens img {
  height: 300px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#swift .body .panel-2 .scrolling-container {
  height: 300px;
  overflow: hidden;
}

#swift .body .panel-2 .scrolling-container img {
  -webkit-animation: scroll infinite 15s;
          animation: scroll infinite 15s;
}

#swift .body .panel-3 img {
  width: calc(min(500px, 100%));
}

#swift .body .panel-3 ul {
  font-size: 1.5rem;
  list-style: disc;
  text-align: start;
  padding: 0 3rem;
}

.project-modal {
  color: #D2D2D2;
  position: absolute;
  cursor: auto;
  position: absolute;
  background-color: #0D1117;
  inset: 0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 3rem 0;
  z-index: 9;
}

.project-modal h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-modal .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.project-modal .head .title {
  font-size: 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-modal .head p {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project-modal .head p a {
  font-size: 1.5rem;
  color: #FF4C29;
  line-height: 2px;
  text-decoration: none;
}

.project-modal .head p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-modal .panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 3rem 0;
  gap: 3rem;
  text-align: center;
  width: 100%;
  position: relative;
}

#projects .wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  padding: 5rem 0;
}

#projects .wrapper .project {
  cursor: pointer;
}

#projects .wrapper .project.masta {
  background-image: url(images/masta/e-commerce-hero.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#projects .wrapper .project.masta::after {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  content: 'Masta';
  font-size: clamp(4rem, 10vw, 12rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

#projects .wrapper .project.masta:hover::after {
  opacity: 0;
}

#projects .wrapper .project.swift {
  background-image: url(images/swift/hero2.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#projects .wrapper .project.swift::after {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  content: 'Swiftqueue';
  font-size: clamp(4rem, 10vw, 12rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

#projects .wrapper .project.swift:hover::after {
  opacity: 0;
}

.contact {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
}

.contact .boxes {
  width: 100%;
}

.contact .boxes .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .boxes .box h1 {
  font-size: 3rem;
}

.contact .boxes .box form {
  width: calc(min(800px, 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .boxes .box form .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .boxes .box form .bottom input {
  width: 100%;
  margin-right: 1rem;
  margin-top: 0;
}

@media (max-width: 910px) {
  .hero img {
    width: 80px;
  }
  .contact .boxes .box form .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .boxes .box form .bottom input {
    margin-right: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 960px) {
  .arrow {
    display: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes bounce {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-100% + 300px));
            transform: translateY(calc(-100% + 300px));
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-horizontal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=style.css.map */