@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

$dark-color: #0D1117;
$shadow-color: #2f353d;
$grey-color: #D2D2D2;
$accent-color: #FF4C29;
$green-4: #39D353;
$green-3: #26A641;
$green-2: #006D32;
$green-1: #0E4429;
$green-00: #161B22;

.scroll-container {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  section {
    scroll-snap-align: start;
    height: 100vh;
    background-color: $grey-color;
    overflow-y: scroll;

    &:nth-child(2n) {
      background-color: $dark-color;
      color: #D2D2D2;
    }
  }
}

body {
  position: relative;
}

.hide {
  display: none !important;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid $shadow-color;
  margin: 2rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: calc(min(1600px, 95%));
  height: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  border-radius: 100vw;
  transition: 300ms;
  outline: none;
}

.copy-btn {
  padding: 1rem;
  margin: 0;
}

textarea,
input {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100vw;
  border: 2px solid $dark-color;
  transition: 300ms;
  margin-top: 1rem;
}

textarea {
  border-radius: 30px;
}

.wrong {
  animation: shake 0.5s;
}

.rect {
  background-color: $green-4;
  border-radius: 20%;
  border: solid 1px $dark-color;

  &[data-value='1'],
  &[data-value='2'] {
    background-color: $green-1;
  }

  &[data-value='3'],
  &[data-value='4'] {
    background-color: $green-2;
  }

  &[data-value='5'],
  &[data-value='6'] {
    background-color: $green-3;
  }
}

.btn-accent {
  background-color: $dark-color;
  color: $accent-color;

  &:hover {
    background-color: $accent-color;
    color: $grey-color;
  }
}

.btn-white {
  background-color: $grey-color;
  color: $dark-color;

  &:hover {
    color: $grey-color;
    background-color: $accent-color;
  }
}

.btn-dark {
  background-color: $dark-color;
  color: $accent-color;
  border: 2px solid $accent-color;

  &:hover {
    background-color: $accent-color;
    color: $grey-color;
  }
}

#navbar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  // background-color: $dark-color;

  .menu {
    display: flex;
    gap: 3rem;
    justify-content: end;

    a {
      margin-top: 10px;
      text-decoration: none;
      color: $grey-color;
      color: $dark-color;
      transition: .2s;
      font-size: 1.5rem;

      &:hover {
        // border-bottom: #082032 1px solid;
        border-bottom: #D2D2D2 1px solid;
        transform: scale(1.05);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  img {
    width: 100px;
    margin-bottom: 1rem;
  }

  .name {
    font-size: clamp(3.6rem, 10vw, 12rem);
    line-height: clamp(3rem, 8vw, 10rem);
    color: $dark-color;
    text-align: start;
    font-weight: bold;

    span {
      color: $accent-color;
    }

    p {
      color: $accent-color;
      font-size: clamp(1.8rem, 3vw, 4rem);
      line-height: 2.4rem;
      width: 100%;
      text-align: end;
      font-weight: 100;
    }

    .menu {
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: 100;
      display: flex;
      flex-direction: column;
      line-height: 1;
      width: calc(min(500px, 80%));
      margin-top: 2rem;

      a {
        margin-top: 10px;
        border-bottom: #082032 1px solid;
        text-decoration: none;
        color: $dark-color;
        transition: .2s;

        &:hover {
          color: $accent-color;
          transform: scale(1.1);
        }
      }
    }
  }

  .bottom-line {
    border-top: 2px solid $dark-color;
    border-bottom: 2px solid $dark-color;
    display: flex;
    overflow: hidden;
    margin-bottom: 3rem;

    .text {
      display: flex;
      white-space: nowrap;
      animation: scroll-horizontal 50s linear infinite;

      span {
        margin: 0 2rem;
      }
    }
  }
}

.about {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;

  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;

    #About-me {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .buttons {
        display: flex;

        a {
          display: block;
        }
      }
    }

    .skills {
      width: 100%;

      .icons {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
          padding: 1rem 2rem;
          background-color: $dark-color;
          margin: 1rem;
          width: calc(max(150px, 10vw));
          text-align: center;
          font-weight: bold;
          border-radius: 100vw;
          color: $accent-color;
          border: 2px solid $accent-color;
        }
      }
    }
  }
}

#read-more-modal {
  #body {
    .start {
      a {
        cursor: pointer;
        height: 1rem;
        color: $accent-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .me {
      ul {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
          width: calc(min(350px, 100%));
          margin: 1rem;
        }
      }

      h1 {
        color: $accent-color;
      }
    }
  }
}

.snake-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  .snake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      margin: 1rem;
    }

    .settings {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      input {
        margin: 0;
      }
    }

    #contribution-wrapper {
      background-color: $dark-color;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 1vw;
      position: relative;
      overflow: hidden;

      #game-over {
        position: absolute;
        inset: 0;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3888;
        display: none;

        color: $grey-color;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: .5rem;

        &.show {
          display: flex;
        }
      }

      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid $accent-color;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        animation: spin 1s linear infinite;
        margin: 1rem auto;
        display: none;

        &.show {
          display: block;
        }
      }


      #game-board {
        border-radius: .5vw;
        padding: .2vw;
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(53, 1fr);

        div {
          aspect-ratio: 1/1;
          width: 100%;
        }

        .snake {
          background-color: $accent-color;
          border-radius: 20%;
          border: solid 1px $dark-color;
          z-index: 2;
        }

        .food {
          border: solid 1px $dark-color;
          border-radius: 20%;
          background-color: $green-3;
        }
      }
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5rem;

    h1 {
      color: $accent-color;
      font-size: 2rem;
    }

    .top5 {
      font-weight: bold;
    }

    ul {
      li {
        font-size: 1.5rem;
      }
    }
  }

  h3 {
    text-align: center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
  }
}

// PROJECTS
#masta {
  .body {
    .panel-1 {
      .mobile {
        .screens {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin: 1rem;

          img {
            height: 300px;
            width: auto;
            object-fit: cover;
          }
        }
      }
    }

    .panel-2 {
      #arrow {
        width: 20%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #arrow-down {
          width: 20%;
          height: auto;
        }

        .paypal {
          display: grid;
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }

    .panel-3 {
      .admin {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}

#swift {
  .body {
    .panel-2 {
      .mobile {
        .screens {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin: 1rem;

          img {
            height: 300px;
            width: auto;
            object-fit: cover;
          }
        }
      }
    }

    .panel-2 {
      .scrolling-container {
        height: 300px;
        overflow: hidden;

        img {
          animation: scroll infinite 10s;
        }
      }
    }

    .panel-3 {
      img {
        width: calc(min(500px, 100%));
      }

      ul {
        font-size: 1.5rem;
        list-style: disc;
        text-align: start;
        padding: 0 3rem;
      }
    }

    .panel-4 {
      .login-panel {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.project-modal {
  color: $grey-color;
  position: absolute;
  cursor: auto;
  position: absolute;
  background-color: $dark-color;
  inset: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .head {
    width: 100%;

    .title {
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .links {
      li {
        a {
          display: inline-block;
          font-size: 1.5rem;
          color: $accent-color;
          line-height: 2px;
          text-decoration: none;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .body {
    .links {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    input {
      width: calc(max(30vw, 250px));
      margin: 0 1rem 0 0;
    }
  }

  .panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    text-align: center;
    width: 100%;
    position: relative;
  }
}

#projects {
  .wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding: 5rem 0;

    .project {
      cursor: pointer;

      &.masta {
        background-image: url(images/masta/e-commerce-hero.png);
        background-position: center;
        background-size: cover;
        transition: all 200ms linear;

        &::after {
          transition: all 200ms linear;
          content: 'Masta';
          font-size: clamp(4rem, 10vw, 12rem);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 100%;
        }

        &:hover {
          &::after {
            opacity: 0;
          }
        }

      }

      &.swift {
        background-image: url(images/swift/hero2.png);
        background-position: center;
        background-size: cover;
        transition: all 200ms linear;

        &::after {
          transition: all 200ms linear;
          content: 'Swiftqueue';
          font-size: clamp(4rem, 10vw, 12rem);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: bold;
          text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 100%;
        }

        &:hover {
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}

// CONTACT
.contact {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;

  .boxes {
    width: 100%;

    .box {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 3rem;
      }

      form {
        width: calc(min(800px, 100%));
        display: flex;
        flex-direction: column;

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          input {
            width: 100%;
            margin-right: 1rem;
            margin-top: 0;
          }
        }
      }
    }
  }
}


@media (max-width: 910px) {
  .hero {
    img {
      width: 80px;
    }
  }

  .contact {
    .boxes {
      .box {
        form {
          .bottom {
            flex-direction: column;

            input {
              margin-right: 0;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {

  #arrow-down,
  #arrow {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes bounce {
  40% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(calc(-100% + 300px));
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}